:root {
  --containerPadding: 3rem 2rem;
  --mainColor: #eaeaea;
  --secondaryColor: #fff;
  --borderColor: #c1c1c1;
  --previewBg: rgb(251, 249, 243, 0.8);
  --previewShadow: #f0ead6;
  --color-white-grey: #f9f9f9;
  --color-grey-dark: #282e34;
  --radius-top-only: 5px 5px 0 0;

  --color-text-default: var(--color-grey-dark);
}

h1,
h2,
h3,
h4,
h5,
h6,
strong {
  font-family: 'Merriweather', serif;
  text-align: center;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Lato', sans-serif;
  scroll-behavior: smooth;
  color: var(--color-text-default);
  background-color: var(--color-background-default);
}
section {
  padding: 0.75rem;
}

.section-showcase {
  width: 1200px;
  margin: 0 auto;

  &__content {
    display: grid;
    // justify-content: center;
    text-align: center;
    align-content: center;

    // min-height: 10rem;
  }

  &__intro {
    background-color: lightgray;

    display: grid;
    grid-template-columns: 1fr 1fr;
    // grid-template-rows: 5rem 15rem;
    gap: 1rem;
    grid-template-areas:
      'intro--nav intro--nav'
      'intro--left-column intro--right-column';
    border-radius: var(--radius-top-only);

    & *,
    *::before,
    *::after {
      box-sizing: border-box;
      padding: 0;
      margin: 0;
    }

    &--nav {
      grid-area: intro--nav;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    &--left-column {
      grid-area: intro--left-column;
      padding: 1rem;
      margin: 2rem 0;

      & img {
        display: block;
        margin: 0 auto;
        height: 200px;
        width: 200px;
        object-fit: cover;
        border-radius: 50%;
      }
    }

    &--right-column {
      grid-area: intro--right-column;
      display: grid;
      align-content: center;
      padding-bottom: 2rem;
    }
  }
}

.dots {
  height: 15px;
  width: 15px;
  border-radius: 50%;
  box-shadow: -1px 1px 3px -1px rgba(0, 0, 0, 0.75);
  margin: 5px;
  &__wrapper {
    display: flex;
    padding: 1rem;
  }
  &__1 {
    background-color: red;
  }
  &__2 {
    background-color: yellow;
  }
  &__3 {
    background-color: green;
    color: green;
  }
}

#navigation {
  padding: 10px;
  margin: 0;
  & li {
    display: inline-block;
    margin: 0 5px;
  }
}

a {
  text-decoration: none;
  color: #17a2b8;
}

ul {
  list-style: none;
}

.theme-options {
  &__dot {
    height: 30px;
    width: 30px;
    border-radius: 50%;
    box-shadow: -1px 1px 3px -1px rgba(0, 0, 0, 0.75);
    margin: 5px;
    cursor: pointer;
    border: 2px solid var(--theme-options-border-color);

    &:hover {
      border-width: 5px;
    }

    &--light {
      background-color: lightgray;
    }

    &--blue {
      background-color: blue;
    }

    &--green {
      background-color: green;
    }

    &--purple {
      background-color: purple;
    }
  }
  &__wrapper {
    display: flex;
    padding: 1rem;
  }
  &__text {
    padding-left: 1rem;
  }
}

.shadowbox {
  background-color: var(--previewShadow);
  max-width: 300px;
  height: 120px;
  padding-left: 30px;
  padding-top: 30px;
  margin-bottom: 3rem;
  &__content {
    width: 300px;
    border: 1.5px solid #17a2b8;
    background-color: var(--previewBg);
    padding: 15px;
    position: relative;
  }

  &__dot {
    position: absolute;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    border: 2px solid black;
    z-index: 1;
    &--tl {
      top: -10px;
      left: -10px;
    }
    &--tr {
      top: -10px;
      right: -10px;
    }
    &--br {
      bottom: -10px;
      right: -10px;
    }
    &--bl {
      bottom: -10px;
      left: -10px;
    }
  }
}

.section-about {
  &__content {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    padding: var(--containerPadding);
    gap: 2rem;
    justify-content: center;

    &--left {
      background-color: #ffe;
      padding: 1rem;
      & p {
        padding-bottom: 1rem;
      }
    }

    &--right {
      background-color: #ffe;
      padding: 1rem;
    }
  }
}

.expertise {
  padding: 0.75rem;
  white-space: normal;
  line-break: auto;
  hyphens: auto;
  &__list {
    column-count: 3;
    margin: 10px 0;
    column-gap: 40px;
  }
}

.section-contact {
  &__content {
    padding: 0 2rem;
  }
}

.input-field {
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: var(--secondaryColor);
  border-radius: 5px;
  border: 1px solid var(--borderColor);
  font-size: 14px;
}

#contact-form {
  display: block;
  max-width: 600px;
  margin: 0 auto;
  border: 1px solid var(--borderColor);
  padding: 15px;
  border-radius: 5px;
  background-color: var(--mainColor);
  margin-bottom: 50px;
}

#contact-form label {
  line-height: 2.7em;
}

#contact-form textarea {
  min-height: 100px;
  font-size: 14px;
}

#submit-btn {
  margin-top: 10px;
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
  color: #fff;
  background-color: var(--buttonColor);
  border: none;
}

////////////////////////////////////////////////////////////////////////////
// media queries
////////////////////////////////////////////////////////////////////////////
@media screen and (max-width: 1200px) {
  .section-showcase {
    width: 95%;

    &__content {
      display: grid;
    }
  }

  .expertise {
    &__list {
      column-count: 2;
    }
  }
}
@media screen and (max-width: 800px) {
  .section-showcase {
    width: 95%;

    &__intro {
      grid-template-columns: 1fr;
      // grid-template-rows: 5rem 15rem;
      gap: 1rem;
      grid-template-areas:
        'intro--nav'
        'intro--left-column'
        'intro--right-column';
      &--right-column {
        justify-content: center;
      }
    }
  }

  .shadowbox {
    padding-left: 20px;
    padding-top: 20px;

    max-width: 275px;
    margin-right: 36px;
    &__content {
      width: 275px;
    }
  }
}

@media screen and (max-width: 400px) {
  .shadowbox {
    padding-left: 15px;

    max-width: 275px;
    margin-right: 36px;
    &__content {
      width: 275px;
    }
  }
}

@import './components/portfolio-card';
