.card {
  &__wrapper {
    max-width: 20rem;
    background-color: bisque;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0 auto;
  }

  &__img {
    height: 150px;
    width: 100%;
    background: wheat;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    object-fit: cover;
  }

  &__content {
    // padding: 0.5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  &__title {
    align-self: center;
  }

  &__description {
    padding: 0.75rem;
  }
  &__link {
    padding: 0.75rem;
    align-self: end;
    margin-right: 1rem;
  }
}
